{erl_opts, [debug_info]}.
{deps, [
         nova,
         enotify
       ]}.

       {xref_checks,[
        undefined_function_calls,
        undefined_functions,
        locals_not_used,
        deprecated_function_calls,
        deprecated_functions
       ]}.

       {xref_ignores, [
        providers,
        rebar_api,
        rebar_app_info,
        rebar_prv_shell,
        rebar_state,
        {nova_router, process_routefile, 1}
       ]}.

       {dialyzer, [
        {plt_apps, all_deps},
        {plt_extra_apps, [
                          nova,
                          routing_tree]},
        {warnings, [no_unknown]}
       ]}.