%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info,
            {parse_transform, pmod_pt}
           ]}.
{src_dirs, ["src", "src/controllers"]}.
{shell, [{config, "./config/dev_sys.config.src"}]}.

{erlydtl_opts, [{doc_root, "src/views"},
                {recursive, true},
                {libraries, [
                             {nova_erlydtl_inventory, nova_erlydtl_inventory}
                            ]},
                {default_libraries, [nova_erlydtl_inventory]}
               ]}.

{deps, [
        nova,
        {boss_db, {git, "https://github.com/burbas/boss_db.git", {ref, "a6525b2ca7828327647f8147349a952b6ea7cc1c"}}},
        {flatlog, "0.1.2"} %% Used for logging - Change if needed
       ]}.


%% Release profiles
%% To create a release just run
%% rebar3 as prod release
{relx, [{release, {{{name}}, "0.1.0"},
         [{{name}},
          sasl]},
        {mode, dev},
        {sys_config_src, "./config/dev_sys.config.src"},
        {vm_args_src, "./config/vm.args.src"}
       ]}.

{profiles, [{prod, [{relx,
                     [{mode, prod},
                      {sys_config_src, "./config/prod_sys.config.src"}]}]}]}.

%% Plugins for rebar3
{plugins, [
           {rebar3_erlydtl_plugin, ".*",
            {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
           {rebar3_nova, ".*",
            {git, "https://github.com/novaframework/rebar3_nova.git", {branch, "master"}}}
          ]}.

{provider_hooks, [
                  {pre, [{compile, {erlydtl, compile}}]}
                 ]}.
