%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.
{src_dirs, [{"src", [{recursive, true}]}]}.
{shell, [{config, "./config/dev_sys.config.src"}]}.

{erlydtl_opts, [{doc_root, "src/views"},
                {recursive, true},
                {libraries, [
                             {nova_erlydtl_inventory, nova_erlydtl_inventory}
                            ]},
                {default_libraries, [nova_erlydtl_inventory]}
               ]}.

{deps, [
        nova,
        {flatlog, "0.1.2"} %% Used for logging - Change if needed
       ]}.


%% Release profiles
%% To create a release just run
%% rebar3 as prod release
{relx, [{release, {{{name}}, git},
         [{{name}},
          sasl]},
        {mode, dev},
        {sys_config_src, "./config/dev_sys.config.src"},
        {vm_args_src, "./config/vm.args.src"}
       ]}.

{profiles,
   [{prod, [{relx,
                     [{mode, prod},
                      {sys_config_src, "./config/prod_sys.config.src"}]}]},
    {test, [
        {erl_opts, [nowarn_export_all, warnings_as_errors, {i, "test/util"}]},
        {deps, [
            {meck, "1.1.0"}
         ]},
        {ct_opts, [{sys_config, "./config/dev_sys.config.src"}]},
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {xref_extra_paths, ["test"]}
     ]}
 ]}.

{dialyzer, [{plt_apps, all_deps}]}.

%% Plugins for rebar3
{project_plugins, [
           {rebar3_erlydtl_plugin, ".*",
            {git, "https://github.com/erlydtl/rebar3_erlydtl_plugin.git", {branch, "master"}}},
           {rebar3_nova, ".*",
            {git, "https://github.com/novaframework/rebar3_nova.git", {branch, "master"}}},
           {erlfmt, "~>1.7"}
]}.

{erlfmt, [
    write,
    {files, [
        "rebar.config",
        "src/*.app.src",
        "src/**/{*.erl, *.hrl}",
        "test/**/{*.erl, *.hrl}"
    ]},
    {exclude_files, ["config/vm.args.src", "config/prod_sys.config.src"]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
